.advices {  
  margin: 50px auto 50px auto;
  max-width: 1230px;
  height: 63.493vh;
}
.advice__slide {
  padding: 40px 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.advice__items {
  display: inline-flex;
  padding: 15px;
  flex-direction: column;
  gap: 20px;
  background-color: var(--start-title-bg);
  .title {
    font-size: 41px;
    font-weight: 800;
    color: var(--yellow-bg-color);
  }
}
.advice__text {
  max-width: 487px;
  font-size: 23px;
  line-height: 30px;
  color: var(--white-color);
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal > 
.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 126px;
  left: calc(50% - 63px);
  padding: 3px;
  background-color: var(--recipe-time-bg);
  border-radius: 20px;
}
.swiper-pagination-bullet {
  z-index: 10;
  width: 32px;
  height: 31px;
  text-align: center;
  opacity: 1;
  background: url(../tomato-icon.png), transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.swiper-pagination-bullet-active {
  background: url(../cucumber-slice.png), transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
//---@media-advices------------
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet:hover {
    background: url(../cucumber-slice.png), transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
@media (hover: none) {
  .swiper-pagination-bullet:active {
    background: url(../cucumber-slice.png), transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
