.advices {  
  margin: 50px auto 0px auto;
  max-width: 1230px;
  height: 63.493vh;
}
.advice__slide {
  padding: 20px 60px 40px 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.advice__items {
  display: inline-flex;
  padding: 15px;
  flex-direction: column;
  gap: 20px;
  background-color: var(--start-title-bg);
  border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
  border: 2px solid var(--yellow-bg-color);
  .title {
    font-weight: 800;
    font-size: 41px;
    line-height: 43px;
    text-align: center;
    color: var(--yellow-bg-color);
  }
}
.advice__text {
  max-width: 487px;
  font-size: 23px;
  line-height: 30px;
  color: var(--white-color);
  text-indent: 8%;
  text-wrap: pretty
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal > 
.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 126px;
  left: calc(50% - 63px);
  padding: 3px;
  background-color: var(--recipe-time-bg);
  border-radius: 20px;
}
.swiper-pagination-bullet {
  z-index: 10;
  width: 32px;
  height: 31px;
  text-align: center;
  opacity: 1;
  background: url(../tomato-icon.png), transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.swiper-pagination-bullet-active {
  background: url(../cucumber-slice.png), transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
//---@media-advices------------
@media (hover: hover) and (pointer: fine) {
  .swiper-pagination-bullet:hover {
    background: url(../cucumber-slice.png), transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
@media (hover: none) {
  .swiper-pagination-bullet:active {
    background: url(../cucumber-slice.png), transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
@media(max-width: 1024px) {
  .advice__slide {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
  }
  .advice__items {
    align-self: flex-start;
    justify-self: center;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .swiper,
  .advices {
    height: 600px;
  }
}
@media(max-width: 768px) {
  .advice__items .title {
    font-size: calc(23px + (41 - 23)*((100vw - 320px)/(768 - 320)));
    line-height: calc(25px + (43 - 25)*((100vw - 320px)/(768 - 320)));
  }
  .advice__text {
    font-size: calc(12px + (23 - 12)*((100vw - 320px)/(768 - 320)));
    line-height: calc(20px + (30 - 20)*((100vw - 320px)/(768 - 320)));
  }
}
@media(max-width: 320px) and (max-height: 480px) {
  .swiper,
  .advices {
    height: 79vh;
  }
}