.swiper {  
  margin: 50px auto 50px auto;
  max-width: 1230px;
  //height: 44vh;////////
  height: 600px;
}
.advice__slide {
  padding: 40px 60px;////////отрегулировать высоту слайда
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.advice__items {
  display: inline-flex;
  padding: 15px;
  flex-direction: column;
  gap: 20px;
  background-color: var(--start-title-bg);
  .title {
    font-size: 41px;
    font-weight: 800;
    color: var(--yellow-bg-color);
  }
}
.advice__text {
  max-width: 487px;
  font-size: 23px;
  line-height: 30px;
  color: var(--primary);
}
.swiper-pagination-bullet {
  z-index: 10;
  width: 32px;
  height: 31px;
  text-align: center;
  opacity: 1;
  background: url(../tomato-icon.png), transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.swiper-pagination-bullet-active {
  background: url(../cucumber-slice.png), transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
