.featured-posts {
  margin-top: 50px;
}
.featured__title {

}
.posts__items {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.main-post {
  width: 48.58%;
}
#mainPostGallery {
  width: 793px;
}
.meal-time {
  margin-top: 17px;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: var(--yellow-bg-color);
  border: 1px solid var(--primary);
  border-radius: 20px;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  text-wrap: pretty;
}
.main-post__title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 31px;
  line-height: 36px;
  text-transform: capitalize;
  text-wrap: pretty;
}
.main-post__text {
  margin-top: 10px;
  font-size: 17px;
  line-height: 25px;
  text-wrap: pretty;
}
.post__link {
  margin-top: 25px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 17px;
  line-height: 17px;
  color: var(--yellow-bg-color);
}
.posts__list {
  width: 48.58%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.post__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.post__time {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: var(--yellow-bg-color);
  border: 1px solid var(--primary);
  border-radius: 20px;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  text-wrap: pretty;
}
.post__title {
  margin-top: 10px;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  text-wrap: pretty;
}
.post__preview {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  text-wrap: pretty;
}





//---@media-featured-posts---------------
@media (hover: hover) and (pointer: fine) {
  .main-post__link:hover {
    color: var(--orange-color);
    img {
      animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite;
    }
  }
}
@media (hover: none) {
  .main-post__link:active {
    color: var(--orange-color);
    img {
      animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite;
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}