.recipe {
  margin-top: 50px;
  margin-bottom: 50px;/////
}
.conteiner {
  max-width: 1088px;
  padding: 0px 15px;
  margin: 0px auto;
}
.recipeCard {
  padding: 15px;
  background-color: var(--yellow-bg-color);
  background-image: url(/recipe-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.recipetTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.title {
  font-weight: 800;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  color: var(--orange-color);
}
.mealTime {
  padding: 5px;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  text-wrap: pretty;
  background-color: var(--recipe-time-bg);
}
.ingredientsItems {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.ingredientsTitle {
  margin-bottom: 15px;
  line-height: 20px;
  //color: var(--yellow-bg-color);
  color: var(--background);
}
.ingredientsUnit {
  font-size: 18px;
  line-height: 30px;
}
.recipeItems {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipeText {
  line-height: 25px;
  text-wrap: pretty
}