.recipe {
  margin-top: 50px;
}
.conteiner {
  max-width: 1088px;
  padding: 0px 15px;
  margin: 0px auto;
}
.recipeCard {
  padding: 15px;
  background-color: var(--yellow-bg-color);
  background-image: url(/recipe-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  border-radius: 255px 15px 255px 15px/15px 255px 15px 255px;
  border: 2px solid var(--orange-color);
}
.recipetTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 77px;
}
.title {
  font-weight: 800;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  color: var(--orange-color);
}
.mealTime {
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  text-wrap: pretty;
}
.ingredientsItems {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.ingredientsTitle {
  margin-bottom: 15px;
  line-height: 20px;
  color: var(--background);
}
.ingredientsUnit {
  font-size: 18px;
  line-height: 30px;
}
.recipeItems {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipeText {
  text-indent: 8%;
  line-height: 28px;
  text-wrap: pretty;
}
.recipeText::first-letter {
  font-size: 130%;
  color: var(--orange-color);
}
//---@media-recipe-------------------
@media(max-width: 1088px) {
  .ingredientsItems {
    gap: calc(40px + (100 - 40)*((100vw - 1024px)/(1088 - 1024)));
  }
}
@media(max-width: 1024px) {
  .ingredientsItems {
    gap: 30px;
    flex-direction: column;
    img {
      align-self: center;
    }
  }
  .ingredients {
    align-self: center;
  }
}
@media(max-width: 768px) {
  .recipe {
    margin-top: calc(30px + (50 - 30)*((100vw - 320px)/(768 - 320)));
  }
  .recipeCard {
    padding: calc(10px + (15 - 10)*((100vw - 320px)/(768 - 320)));
  }
  .recipetTitle {
    gap: 30px;
  }
  .ingredientsItems {
    margin-top: calc(15px + (30 - 15)*((100vw - 320px)/(768 - 320)));
  }
  .title {
    font-size: calc(20px + (37 - 20)*((100vw - 320px)/(768 - 320)));
    line-height: calc(22px + (39 - 22)*((100vw - 320px)/(768 - 320)));
  }
  .mealTime {
    padding: calc(2.5px + (5 - 2.5)*((100vw - 320px)/(768 - 320)))
             calc(5px + (10 - 5)*((100vw - 320px)/(768 - 320)));
    font-size: calc(14px + (20 - 14)*((100vw - 320px)/(768 - 320)));
    line-height: calc(14px + (20 - 14)*((100vw - 320px)/(768 - 320)));
  }
  .recipeItems {
    gap: calc(15px + (30 - 15)*((100vw - 320px)/(768 - 320)));
  }
  .ingredientsTitle {
    margin-bottom: calc(10px + (15 - 10)*((100vw - 320px)/(768 - 320)));
    font-size: calc(16px + (20 - 16)*((100vw - 320px)/(768 - 320)));
    line-height: calc(16px + (20 - 16)*((100vw - 320px)/(768 - 320)));
  }
  .ingredientsUnit {
    font-size: calc(14px + (18 - 14)*((100vw - 320px)/(768 - 320)));
    line-height: calc(23px + (30 - 23)*((100vw - 320px)/(768 - 320)));
  }
  .recipeText {
    font-size: calc(16px + (20 - 16)*((100vw - 320px)/(768 - 320)));
    line-height: calc(23px + (28 - 23)*((100vw - 320px)/(768 - 320)));
  }
}