.recipe {
  margin-top: 50px;
}
.recipetTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.title {
  font-weight: 800;
  font-size: 37px;
  line-height: 39px;
  text-align: center;
  color: var(--orange-color);
}
.mealTime {
  padding: 5px;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  text-wrap: pretty;
  background-color: var(--recipe-time-bg);
}
.ingredientsItems {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.ingredientsTitle {
  color: var(--yellow-bg-color);
}