.subscribePortal {
  margin-top: 128px;
  padding-bottom: 120px;
  background-image: url(/subscribe-portal-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.subscribeText {
  font-size: 30px;
  line-height: 49px;
  font-weight: 800;
  text-align: center;
  text-wrap: pretty;
  background-image: linear-gradient(35deg, var(--orange-color), var(--primary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-shadow-drop-center 6s cubic-bezier(.215,.61,.355,1) infinite both;
}
@keyframes text-shadow-drop-center {
  30% {
    text-shadow: 0 0 0px var(--primary);
  }
  70% {
    text-shadow: 0 0 0px var(--orange-color);
  }
}
.modalWrapper {
  margin-top: 40px;
  text-align: center
}
.subscribeButton {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 34px;
  background-color: var(--yellow-bg-color);
  box-shadow: 0px 0px 7px 2px var(--orange-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary);
  cursor: pointer;
  transition: all 1s ease;
}
.modal {
  position: fixed;
  z-index: 10;
  padding-top: 12%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-shadow);
  cursor: default;
}
.content {
  position: relative;
  padding-top: 64px;
  padding-bottom: 88px;
  margin: auto;
  background-image: url(/mobile-menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  width: 34.8%;
  border-radius: 8px;
  animation-name: animatetop;
  animation-duration: 1s;
  .image {
    margin: 0 auto;
  }
}
.modalText {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-wrap: pretty;
}
.modalClose {
  position: absolute; 
  top: 15px; 
  right: 15px;
  padding: 4px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--background);
  border: none;
  cursor: pointer;
  transition: all 1s ease; 
}
@keyframes animatetop {
  from {
    top: -300px; 
    opacity: 0;
  }
  to {
    top: 0; 
    opacity: 1;
  }
}
.subscribeForm {
  margin-top: 20px;
  input {
    width: 60%;
    padding: 15px;
    outline-style: none;
    background-color: var(--background);
    border: 1px solid var(--orange-color);
    border-right: none;
    border-radius: 8px 0 0 8px;
    color: var(--primary);
  }
  ::placeholder {
    color: var(--primary);
  }
  button {
    width: 30%;
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 22px 47px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--orange-color);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--background);
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
}
.formItems {
  display: flex;
  justify-content: center;
}
.error {
  margin-top: 12px;
  padding: 0px 5px 0px 5px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: var(--error-message-color);
}
//---@media-subscribePortal------------------
@media (hover: hover) and (pointer: fine) {
  .subscribeButton:hover {
    box-shadow: none;
  }
}
@media (hover: none) {
  .subscribeButton:active {
    box-shadow: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  .modalClose:hover {
    color: var(--primary);
  }
}
@media (hover: none) {
  .modalClose:active {
    color: var(--primary);
  }
}
@media (hover: hover) and (pointer: fine) {
  .subscribeForm button:hover {
    color: var(--primary);
  }
}
@media (hover: none) {
  .subscribeForm button:active {
    color: var(--primary);
  }
}
@media(max-width: 1440px) {
  .content {
    width: 502px;
  }
}
@media(max-width: 768px) {
  .subscribePortal {
    margin-top: 60px;
  }
  .modalWrapper {
    margin-top: 17px;
  }
  .subscribeText {
    font-size: 20px;
    line-height: 28px;
  }
  .modal {
    padding-top: 31%;
  }
  .subscribeForm input {
    font-size: 13px;
    line-height: 13px;
    padding: 9px;
  }
  .subscribeForm::placeholder {
    font-size: 13px;
    line-height: 13px;
  }
  .subscribeForm button {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 11px;
    line-height: 11px;
  }
  .content {
    width: calc(300px + (502 - 300)*((100vw - 320px)/(768 - 320)));
    padding-bottom: calc(51px + (88 - 51)*((100vw - 320px)/(768 - 320)));
  }
  .modalClose {
    gap: 10px;
    font-size: 14px;
    img {
      width: 17px;
    }
  }
}
@media (orientation: landscape) and (max-height: 500px)  {
  .modal {
    padding-top: 11%;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 37px;
  }
}
@media (orientation: landscape) and (max-height: 375px)  {
  .modal {
    padding-top: 6%;
    padding-bottom: 50px;
  }
}
@media (orientation: landscape) and (max-height: 320px) and (max-width: 480px) {
  .modal {
    padding-top: 14%;
  }
}
@media (orientation: portrait) and (max-width: 320px)and (max-height: 480px)  {
  .modal {
    padding-top: 14%;
  }
}
