.subscribePortal {
  margin-top: 50px;
  padding-top: 64px;
  padding-bottom: 96px;
  background-image: url(/subscribe-portal-bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
.subscribeText {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: var(--shadow-grey-color);/////
  text-wrap: pretty;
}
.modalContainer {
  margin-top: 40px;
  text-align: center
}
.subscribeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 34px;
  border: 1px solid var(--shadow-grey-color);///////////////
  background-color: var(--yellow-bg-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: var(--shadow-grey-color);
  cursor: pointer;
  transition: all 1s ease;
}
.subscribeModal {
  position: fixed;
  z-index: 10;
  padding-top: 12%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
  cursor: default;
}
.content {
  position: relative;
  padding-top: 64px;
  padding-bottom: 88px;
  margin: auto;
  background-image: url(/mobile-menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  width: 34.8%;
  border-radius: 8px;
  animation-name: animatetop;
  animation-duration: 1s;
  .modalHeadingImage {
    margin: 0 auto;
  }
}
.subscribeModalText {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-wrap: pretty;
}
.modalClose {
  position: absolute; 
  top: 15px; 
  right: 15px;
  padding: 4px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  background-color: var(--mint-color);
  text-transform: lowercase;
  color: var(--background);
  border: none;
  cursor: pointer;
  transition: all 1s ease; 
}
@keyframes animatetop {
  from {
    top: -300px; 
    opacity: 0;
  }
  to {
    top: 0; 
    opacity: 1;
  }
}
.subscribeForm {
  margin-top: 20px;
  input {
    width: 60%;
    padding: 15px;
    outline-style: none;
    background-color: var(--background);
    border: 1px solid var(--orange-color);
    border-right: none;
    border-radius: 8px 0 0 8px;
    color: var(--primary);
  }
  ::placeholder {
    color: var(--primary);
  }
  button {
    width: 30%;
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 22px 47px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--orange-color);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--background);
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
}
.subscribeFormItems {
  display: flex;
  justify-content: center;
}
.error {
  margin-top: 12px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: var(--error-message-color);
}
//---@media-get----------------------
@media (hover: hover) and (pointer: fine) {
  .subscribeButton:hover {
    box-shadow: none;
  }
}
@media (hover: none) {
  .subscribeButton:active {
    box-shadow: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  .modalClose:hover {
    color: var(--primary);
  }
}
@media (hover: none) {
  .modalClose:active {
    color: var(--primary);
  }
}
@media (hover: hover) and (pointer: fine) {
  .subscribeForm button:hover {
    color: var(--shadow-grey-color);
  }
}
@media (hover: none) {
  .subscribeForm button:active {
    color: var(--shadow-grey-color);
  }
}
@media(max-width: 1440px) {
  .content {
    width: 502px;
  }
}
@media(max-width: 970px) {
  .subscribePortal {
    padding-top: calc(30px + (64 - 30)*((100vw - 320px)/(970 - 320)));
    //padding-bottom: calc(28px + (96 - 28)*((100vw - 320px)/(970 - 320)));// 96
  }
  .subscribeText {
    font-size: calc(14px + (18 - 14)*((100vw - 320px)/(970 - 320)));
    line-height: calc(24px + (29 - 24)*((100vw - 320px)/(970 - 320)));
  }
  .modalContainer {
    margin-top: calc(17px + (40 - 17)*((100vw - 320px)/(970 - 320)));
  }
  .subscribeButto {
    padding-top: calc(8px + (13 - 8)*((100vw - 320px)/(970 - 320)));
    padding-right: calc(23px + (34 - 23)*((100vw - 320px)/(970 - 320)));
    padding-bottom: calc(8px + (13 - 8)*((100vw - 320px)/(970 - 320)));
    padding-left: calc(23px + (34 - 23)*((100vw - 320px)/(970 - 320)));
    font-size: calc(11px + (16 - 11)*((100vw - 320px)/(970 - 320)));
    line-height: calc(16px + (20 - 16)*((100vw - 320px)/(970 - 320)));
  }
}
@media(max-width: 768px) {
  .subscribeModal {
    padding-top: 31%;
  }
  .subscribeForm input {
    font-size: calc(13px + (15 - 13)*((100vw - 320px)/(768 - 320)));
    line-height: calc(13px + (15 - 13)*((100vw - 320px)/(768 - 320)));
    padding: calc(9px + (15 - 9)*((100vw - 320px)/(768 - 320)));
  }
  .subscribeForm::placeholder {
    font-size: calc(13px + (15 - 13)*((100vw - 320px)/(768 - 320)));
    line-height: calc(13px + (15 - 13)*((100vw - 320px)/(768 - 320)));
  }
  .subscribeForm button {
    padding-top: calc(14px + (20 - 14)*((100vw - 320px)/(768 - 320)));
    padding-bottom: calc(14px + (20 - 14)*((100vw - 320px)/(768 - 320)));
    font-size: calc(11px + (14 - 11)*((100vw - 320px)/(768 - 320)));
    line-height: calc(11px + (14 - 11)*((100vw - 320px)/(768 - 320)));
  }
  .content {
    width: calc(300px + (502 - 300)*((100vw - 320px)/(768 - 320)));
    padding-bottom: calc(51px + (88 - 51)*((100vw - 320px)/(768 - 320)));
  }
  .subscribeModalText {
    margin-top: calc(9px + (15 - 9)*((100vw - 320px)/(768 - 320)));
    font-size: calc(14px + (23 - 14)*((100vw - 320px)/(768 - 320)));
    line-height: calc(24px + (36 - 24)*((100vw - 320px)/(768 - 320)));
  }
  .modalClose {
    gap: calc(10px + (20 - 10)*((100vw - 320px)/(768 - 320)));
    font-size: calc(11px + (15 - 11)*((100vw - 320px)/(768 - 320)));
    img {
      width: calc(11px + (24 - 11)*((100vw - 320px)/(768 - 320)));
    }
  }
  .error {
    font-size: calc(10px + (15 - 10)*((100vw - 320px)/(768 - 320)));
    line-height: calc(15px + (20 - 15)*((100vw - 320px)/(768 - 320)));
  }
}
@media (orientation: landscape) and (max-height: 500px)  {
  .subscribeModal {
    padding-top: 11%;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 37px;
  }
}
@media (orientation: landscape) and (max-height: 375px)  {
  .subscribeModal {
    padding-top: 6%;
    padding-bottom: 50px;
  }
}
@media (orientation: landscape) and (max-height: 320px) and (max-width: 480px) {
  .subscribeModal {
    padding-top: 14%;
  }
}